app/iot/nodeRedConSeguridad.json
[{"id":"71b87da1.d81e94","type":"serial in","z":"18c422f0.0bfbdd","name":"temperatureSensor","serial":"85a7a439.a93fb8","x":401.0078125,"y":471.1818389892578,"wires":[["1386d2e4.3b1dad"]]},{"id":"d8ae8fd2.6b611","type":"inject","z":"18c422f0.0bfbdd","name":"sensorTime","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":421.4623718261719,"y":604.8181653022766,"wires":[["8bca799c.e349a8","c8929fa1.d3c8c"]]},{"id":"1386d2e4.3b1dad","type":"function","z":"18c422f0.0bfbdd","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\")\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"valor\":parseInt(tempArray[0])};\nreturn res;","outputs":1,"noerr":0,"x":686.9169540405273,"y":470.27272844314575,"wires":[["6d4761e2.8ca5d","c76fd962.9c03a8"]]},{"id":"8bca799c.e349a8","type":"function","z":"18c422f0.0bfbdd","name":"Format Time","func":"var res = {};\n\nepoch = msg.payload;\ntopic = msg.topic;\n\ndatetime = new Date(epoch);\n\nres.payload = datetime;\nres.topic = topic;\n\nreturn res;","outputs":1,"noerr":0,"x":664.6441688537598,"y":606.6363697052002,"wires":[["cf5a6a68.88e1d8","c76fd962.9c03a8"]]},{"id":"c8929fa1.d3c8c","type":"debug","z":"18c422f0.0bfbdd","name":"before format","active":false,"console":"false","complete":"payload","x":675.5532684326172,"y":563.9090995788574,"wires":[]},{"id":"6d4761e2.8ca5d","type":"debug","z":"18c422f0.0bfbdd","name":"after format","active":false,"console":"false","complete":"payload","x":890.0987167358398,"y":433,"wires":[]},{"id":"cf5a6a68.88e1d8","type":"debug","z":"18c422f0.0bfbdd","name":"after format","active":false,"console":"false","complete":"payload","x":885.5532379150391,"y":605.7272701263428,"wires":[]},{"id":"24f7f749.999ff8","type":"debug","z":"18c422f0.0bfbdd","name":"after merge","active":false,"console":"false","complete":"payload","x":1173.7350692749023,"y":547.5454559326172,"wires":[]},{"id":"a307b1a5.1d0d2","type":"function","z":"18c422f0.0bfbdd","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":1177.5733947753906,"y":620.0707025527954,"wires":[["2e4222aa.8e97ae"]]},{"id":"2e4222aa.8e97ae","type":"http request","z":"18c422f0.0bfbdd","name":"POST temperature","method":"POST","ret":"obj","url":"172.24.42.110:9000/sensores/2/mediciones","tls":"","x":1412.2365684509277,"y":623.20960521698,"wires":[["7abcf81f.cb8f88"]]},{"id":"7abcf81f.cb8f88","type":"debug","z":"18c422f0.0bfbdd","name":"Response","active":true,"console":"false","complete":"payload","x":1551.6810035705566,"y":706.5429201126099,"wires":[]},{"id":"c76fd962.9c03a8","type":"function","z":"18c422f0.0bfbdd","name":"Merge 2Messages","func":"context.data = context.data || new Object();\n\nswitch(msg.topic)\n{\n    case \"roomTime\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.valor = msg.payload.valor;\n        msg = null;\n        break;\n    default: \n\t    msg = null;\n\t    break;\n}\n\nif(context.data.fecha != null && context.data.valor != null) {\n\tres = {};\n\tcontext.data = JSON.stringify(context.data);\n    var CryptoJS = context.global.cryptojs;\n    var DESKey = '2B7E151628AED2A6ABF7158809CF4F3C2B7E151628AED2A6ABF7158809CF4F3C2B7E151628AED2A6ABF7158809CF4F3C2B7E151628AED2A6ABF7158809CF4F3C';\n    var iv = CryptoJS.enc.Hex.parse('0000000000000000') \n    var key= CryptoJS.enc.Hex.parse(DESKey);\n    var ciphertext = CryptoJS.DES.encrypt(context.data, key, {iv: iv});\n    var datos = new Object();\n    console.log(ciphertext)\n    datos.mensaje = ciphertext.toString();\n    var hash = CryptoJS.HmacSHA256(context.data, key);\n    datos.hmac = hash.toString(CryptoJS.enc.Hex);\n\tres.payload = JSON.stringify(datos);\n\tconsole.log (res.payload);\n\tres.topic = \"roomTemperature\";\n\tcontext.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":942.0078125,"y":514.5234375,"wires":[["24f7f749.999ff8","a307b1a5.1d0d2"]]},{"id":"85a7a439.a93fb8","type":"serial-port","z":"18c422f0.0bfbdd","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]