app/iot/nodeRedConSeguridad.json
[{"id":"48c3865d.a6b018","type":"serial in","z":"18c422f0.0bfbdd","name":"temperatureSensor","serial":"4d3071b8.f5d23","x":633,"y":648.1818389892578,"wires":[["bbacd969.1c7828"]]},{"id":"40c24e8b.0bd5a","type":"inject","z":"18c422f0.0bfbdd","name":"sensorTime","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":653.4545593261719,"y":781.8181653022766,"wires":[["8b0429e1.61fe48","af7b0043.49f99"]]},{"id":"bbacd969.1c7828","type":"function","z":"18c422f0.0bfbdd","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\")\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"valor\":parseInt(tempArray[0])};\nreturn res;","outputs":1,"noerr":0,"x":918.9091415405273,"y":647.2727284431458,"wires":[["c518f447.23b028","2e6d756b.114e9a"]]},{"id":"8b0429e1.61fe48","type":"function","z":"18c422f0.0bfbdd","name":"Format Time","func":"var res = {};\n\nepoch = msg.payload;\ntopic = msg.topic;\n\ndatetime = new Date(epoch);\n\nres.payload = datetime;\nres.topic = topic;\n\nreturn res;","outputs":1,"noerr":0,"x":896.6363563537598,"y":783.6363697052002,"wires":[["54fbf07d.5cf36","2e6d756b.114e9a"]]},{"id":"af7b0043.49f99","type":"debug","z":"18c422f0.0bfbdd","name":"before format","active":false,"console":"false","complete":"payload","x":907.5454559326172,"y":740.9090995788574,"wires":[]},{"id":"c518f447.23b028","type":"debug","z":"18c422f0.0bfbdd","name":"after format","active":false,"console":"false","complete":"payload","x":1122.0909042358398,"y":610,"wires":[]},{"id":"54fbf07d.5cf36","type":"debug","z":"18c422f0.0bfbdd","name":"after format","active":false,"console":"false","complete":"payload","x":1117.545425415039,"y":782.7272701263428,"wires":[]},{"id":"ecb955c0.b1c0a8","type":"debug","z":"18c422f0.0bfbdd","name":"after merge","active":false,"console":"false","complete":"payload","x":1405.7272567749023,"y":724.5454559326172,"wires":[]},{"id":"a90f259a.cb5d78","type":"function","z":"18c422f0.0bfbdd","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":1409.5655822753906,"y":797.0707025527954,"wires":[["65ecd956.0a9d38"]]},{"id":"65ecd956.0a9d38","type":"http request","z":"18c422f0.0bfbdd","name":"POST temperature","method":"POST","ret":"obj","url":"172.24.42.110:9000/sensores/2/mediciones","tls":"","x":1644.2287559509277,"y":800.20960521698,"wires":[["6ce9b264.6383ec"]]},{"id":"6ce9b264.6383ec","type":"debug","z":"18c422f0.0bfbdd","name":"Response","active":true,"console":"false","complete":"payload","x":1783.6731910705566,"y":883.5429201126099,"wires":[]},{"id":"2e6d756b.114e9a","type":"function","z":"18c422f0.0bfbdd","name":"Merge 2Messages","func":"context.data = context.data || new Object();\n\nswitch(msg.topic)\n{\n    case \"roomTime\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.valor = msg.payload.valor;\n        msg = null;\n        break;\n    default: \n\t    msg = null;\n\t    break;\n}\n\nif(context.data.fecha != null && context.data.valor != null) {\n\tres = {};\n\tcontext.data = JSON.stringify(context.data);\n    var CryptoJS = context.global.cryptojs;\n    var DESKey = '2B7E151628AED2A6';\n    var iv = CryptoJS.enc.Hex.parse('0000000000000000') \n    var key= CryptoJS.enc.Hex.parse(DESKey);\n    var ciphertext = CryptoJS.DES.encrypt(context.data, key, {iv: iv});\n    var datos = new Object();\n    console.log(ciphertext)\n    datos.mensaje = ciphertext.toString();\n    var hash = CryptoJS.HmacSHA256(context.data, key);\n    datos.hmac = hash.toString(CryptoJS.enc.Base64);\n\tres.payload = JSON.stringify(datos);\n\tconsole.log (res.payload);\n\tres.topic = \"roomTemperature\";\n\tcontext.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":1174,"y":691.5234375,"wires":[["ecb955c0.b1c0a8","a90f259a.cb5d78"]]},{"id":"4d3071b8.f5d23","type":"serial-port","z":"18c422f0.0bfbdd","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]