app/iot/prueba.json
[{"id":"98795756.8edc98","type":"inject","z":"18c422f0.0bfbdd","name":"sensorTime","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":192.5078125,"y":239.3416028022766,"wires":[["6e77f3d2.d7b04c","70706399.8d91cc"]]},{"id":"12a7c131.04a05f","type":"function","z":"18c422f0.0bfbdd","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempArray = [198,\"°C\"];\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\")\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"valor\":parseInt(tempArray[0])};\nreturn res;","outputs":1,"noerr":0,"x":302.96240234375,"y":104.7961630821228,"wires":[["8b0f92b3.56c18","67a64d84.957fb4"]]},{"id":"6e77f3d2.d7b04c","type":"function","z":"18c422f0.0bfbdd","name":"Format Time","func":"var res = {};\n\nepoch = msg.payload;\ntopic = msg.topic;\n\ndatetime = new Date(epoch);\n\nres.payload = datetime;\nres.topic = topic;\n\nreturn res;","outputs":1,"noerr":0,"x":435.6896095275879,"y":241.1598072052002,"wires":[["32266235.cfbc6e","67a64d84.957fb4"]]},{"id":"70706399.8d91cc","type":"debug","z":"18c422f0.0bfbdd","name":"before format","active":false,"console":"false","complete":"payload","x":446.5987091064453,"y":198.43253707885742,"wires":[]},{"id":"8b0f92b3.56c18","type":"debug","z":"18c422f0.0bfbdd","name":"after format","active":false,"console":"false","complete":"payload","x":661.144157409668,"y":67.5234375,"wires":[]},{"id":"32266235.cfbc6e","type":"debug","z":"18c422f0.0bfbdd","name":"after format","active":false,"console":"false","complete":"payload","x":656.5986785888672,"y":240.25070762634277,"wires":[]},{"id":"67a64d84.957fb4","type":"function","z":"18c422f0.0bfbdd","name":"Merge 2Messages","func":"context.data = context.data || new Object();\n\nswitch(msg.topic)\n{\n    case \"roomTime\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.valor = msg.payload.valor;\n        msg = null;\n        break;\n    default: \n\t    msg = null;\n\t    break;\n}\n\nif(context.data.fecha != null && context.data.valor != null) {\n\tres = {};\n\tcontext.data = JSON.stringify(context.data);\n    var CryptoJS = context.global.cryptojs;\n    var DESKey = '2B7E151628AED2A6';\n    var iv = CryptoJS.enc.Hex.parse('0000000000000000') \n    var key= CryptoJS.enc.Hex.parse(DESKey);\n    var ciphertext = CryptoJS.DES.encrypt(context.data, key, {iv: iv});\n    var datos = new Object();\n    datos.mensaje = ciphertext.toString();\n    var hash = CryptoJS.HmacSHA256(context.data, key);\n    datos.hmac = hash.toString(CryptoJS.enc.Base64);\n\tres.payload = JSON.stringify(datos);\n\tres.topic = \"roomTemperature\";\n\tcontext.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":718.8714408874512,"y":151.1597957611084,"wires":[["330af206.aa3f7e","aaae440.5a88ec"]]},{"id":"330af206.aa3f7e","type":"debug","z":"18c422f0.0bfbdd","name":"after merge","active":true,"console":"false","complete":"payload","x":944.7805099487305,"y":182.0688934326172,"wires":[]},{"id":"aaae440.5a88ec","type":"function","z":"18c422f0.0bfbdd","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":884.6188201904297,"y":270.5941467285156,"wires":[["d8f1a0dd.d00a9"]]},{"id":"d8f1a0dd.d00a9","type":"http request","z":"18c422f0.0bfbdd","name":"POST temperature","method":"POST","ret":"obj","url":"172.24.42.110:9000/api/sensores/61/mediciones","tls":"","x":1158.281940460205,"y":288.73302459716797,"wires":[["83a1c7aa.3ad228"]]},{"id":"83a1c7aa.3ad228","type":"debug","z":"18c422f0.0bfbdd","name":"Response","active":false,"console":"false","complete":"payload","x":1322.7264442443848,"y":341.06635761260986,"wires":[]},{"id":"fb5a176a.3ba8c8","type":"inject","z":"18c422f0.0bfbdd","name":"sensorTime","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":210,"y":165.52342987060547,"wires":[["12a7c131.04a05f"]]}]